#products{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 80px 0;
    h1{
        font-size: 25px;
        padding-bottom: 20px;
    }
}
#products-container{
    display: flex;
    justify-content: space-between;
    width: $query-standard;
    padding: 100px 0 100px 0;
    border-top: 1px solid $lines-color;
}
.products-container-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    img{
        width: 200px;
        height: 300px;
    }
    h1{
        font-weight: bold;
        padding: 20px 0 20px 0;
    }
    h2{
        font-weight: bold;
        font-size: 12px;
        color: $primary-color;
        padding-bottom: 10px;
    }
    p{
        font-size: 12px;
    }
}

@media (max-width: 950px){
    #products-container{
        max-width: 400px;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
    .products-container-item{
        width: 200px;
        margin-bottom: 75px;
        img{
            width: 260px;
            height: 390px;
        }
    }
    #news-container-item:last-child{
            margin-bottom: 0;
        }
}
